<?xml version="1.0" encoding="utf-8"?>
<plugin
  id="cordova-plugin-sensorcheck-native"
  version="1.0.0"
  xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
>
  <name>SensorCheckNative</name>
  <description>Native Android helpers for SensorCheck.</description>
  <license>Apache-2.0</license>

  <js-module src="www/sensorcheck-native.js" name="SensorCheckNative">
    <clobbers target="SensorCheckNative" />
  </js-module>

  <platform name="android">
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
      <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
      <uses-permission android:name="android.permission.VIBRATE" />
    </config-file>

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="SensorCheckNative">
        <param name="android-package" value="app.sensorcheck.plugin.SensorCheckNativePlugin" />
      </feature>
    </config-file>

    <source-file
      src="src/android/SensorCheckNativePlugin.java"
      target-dir="app/sensorcheck/plugin"
    />
  </platform>
</plugin>
