<?xml version='1.0' encoding='utf-8'?>
<widget id="com.sensorcheck.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SensorCheck</name>
    <description>
        SensorCheck mobile application.
    </description>
    <author email="dev@sensorcheck.app" href="https://sensorcheck.app">
        SensorCheck
    </author>
    <preference name="Hostname" value="localhost" />
    <preference name="AndroidScheme" value="https" />
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="http://localhost/*" />
    <allow-navigation href="https://localhost/*" />
    
    <!-- Plugins -->
    <plugin name="cordova-plugin-sensorcheck-native" spec="file:./plugins/cordova-plugin-sensorcheck-native" />
    
    <!-- Permissions for SensorCheckNative plugin -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
</widget>
